/* Modo oscuro */
.dark-mode {
    background-color: #121212;
    color: #f5f5f5;
}

.dark-mode header {
    background-color: #1E1E1E;
}

.dark-mode button, .dark-mode .botonFooter {
    background-color: #3A3A3A;
    color: #f5f5f5;
    border-color: #f5f5f5;
}

.dark-mode button:hover {
    background-color: #5a9bd4;
}

.dark-mode h1, .dark-mode p, .dark-mode ul li, .dark-mode a {
    color: #f5f5f5;
}

.dark-mode a:hover {
    color: #a9c0e6;
}

.dark-mode footer {
    background-color: #1E1E1E;
    color: #f5f5f5;
}

.dark-mode .text {
    background-color: #1E1E1E;
    color: #f5f5f5;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

body.dark-mode button {
    color: white; /* Color de texto en modo oscuro */
}